{% extends 'itistudent/home.html'%} 

{% block content %}
<div class="container mt-3">
    <h3>Update</h3>
    <hr>
    <form action="{% url 'itistudent:update' student.id %}" method="POST">
        {% csrf_token %}
      
      <div class="form-group">
        <label for=""> Name </label>
        <input type="text" class="form-control" name="name" value="{{student.name}}" />
      </div>
      <div class="form-group">
        <label for=""> Age </label>
        <input type="text" class="form-control" name="age"  value="{{student.age}}"/>
      </div> 
      <div class="form-group">
        <label for=""> Track </label>
        <input type="text" class="form-control" name="track"  value="{{student.track}}"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">update record</button>

        <a  class="btn btn-secondary" href="{% url 'itistudent:show' %}">Details</a>
      </div>
    </form>
  </div>
  
{% endblock %}

